body{
  font-family: 'Roboto';
  font-size: 14px;
}

/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Login */

.icon-style {
  width: 20%;
  font-size: 24px;
}

.icon-bg-color {
  background-image: linear-gradient(#0dccea, #0d70ea);
}

.login-form {
  width: 45%;
}

.email-input {
  background: url("../src/assets/images/email.webp") no-repeat left 5px center;
  background-size: 30px;
  height: 35px;
  padding-left: 40px;
}

.password-input {
  background: url("../src/assets/images/password.webp") no-repeat left 5px center;
  background-size: 30px;
  height: 35px;
  padding-left: 40px;
}

.btn-style {
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  font-size: .9em;
  /* background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%); */
  background-image: linear-gradient(#0dccea, #0d70ea);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-style:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0 !important;
}

.form-control, .form-select {
  font-size: inherit;
}

.page-container {
  /* background-color: #f1faff; */
  min-height: calc(100vh - 100px);
  position: relative;
}

/* Navbar */
/* 
.navbar {
  background-image: url(../src/assets/images/bg-image-nav.jpg);
  background-size: cover;
} */

.logo{
  height: 55px;
  width: 55px;
  margin-left: 7px;
  margin-top: -10px;
  display: block;
  box-shadow: 0px 5px 3px rgb(0 0 0 / 30%);
  border-radius: 50px;
  background-color: rgb(255 255 255 / 72%);
}

.navbar {
  /* position: relative; */
  opacity: 0.99;
  height: 62px;
}

.nav-heading {
  margin-top: -55px;
  margin-left: 67px;
  color: #004083;
}

.navbar::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  /* background-image: linear-gradient(to bottom, #f1f1f1, #f2f2f2, #f3f4f3, #f5f5f5, #f6f6f6); */
  /* background: linear-gradient(-45deg, #63A4FF 0%, #83EAF1 100% ); */
  background: url(../src/assets/images/bg-image-nav.jpg) no-repeat 0 50%;
  opacity: 0.9;
  box-shadow: 0px 3px 5px rgb(112 212 243 / 68%);
}

/* for logo hover */

.logo-container{
  position: relative;
  width: 100%;
  float:right;
}
.overlay {
  position: absolute;
  top: -11%;
  left: 43%;
  overflow: hidden;
  width: 30px;
  height: 45px;
  /* background: radial-gradient(circle at left center, transparent, transparent 30px, rgb(55 132 227)35px, transparent); */
  /* , radial-gradient(circle at right center, transparent, transparent 30px, rgb(36 200 227) 30px, transparent) */
  transition: .5s ease;
  background: radial-gradient(circle at left center, transparent, transparent 30px, rgb(225 225 225 / 95%)35px, #0dcaf0db);
  border-radius: 10px;
  /* animation: pulse 5s ease-in-out infinite; */
}

.logo-container:hover .overlay {
  /* width: 202px; */
  /* right: -232%; */
  /* top: 15%; */ 
  width: 270px;
}

/* @keyframes pulse {
  0% {
    width: 30px;
  }
  100% {
    width: 270px;
  }
} */


.logo-container:hover .overlay .logotext{
  white-space: nowrap; 
  position: absolute;
  overflow: hidden;
  /* top: 18px;
  left: 51%;
  width: 202px; */
  top: 22px;
  left: 53%;
  width: 215px;
  transition: transform .6s ease;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Avatar */



.card {
  box-shadow: 3px 3px 9px 5px rgba(169,184,200,.15);
  -webkit-box-shadow: 3px 3px 9px 5px rgba(169,184,200,.15);
}

.border-end {
  /* border: 1px solid #edf2f9!important; */
  border-radius: 0.55rem;
  /* height: 80px; */
  box-shadow: 3px 3px 9px 3px #95d2df40 !important;
  border: none !important;
  /* background:#d3d5efa3; */
}

.border-end:hover {
  transition: 1.5s;
  /* transform: rotateY(360deg); */
  /* background-color: #d1f0f7; */
  box-shadow: inset -3px 3px 15px 3px rgb(218 246 254 / 42%) !important;
  
}



.border-end:hover .icon-color{
    /* transition: 2.9s; */
    color: #fff !important;
}
/* .border-end:hover .case-text{ */
  


/* Card */
.card-design {
  box-shadow: 3px 3px 9px 3px #95d2df40 !important;
  -webkit-box-shadow: 3px 3px 9px 3px #95d2df40;
  /* height: 100%; */
  /* height: fit-content !important */
  border: none;
}

.timer-data h3 {
  font-weight: 600;
  font-size: 30px;
}

.header-title, .title-text {
    margin-bottom: 8px;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    font-size: 15px;
    font-weight: 600;
    margin-top: 0;
    color: #303e67;
    text-shadow: 0 0 1px rgba(241,245,250,0.1);
    font-family: "Roboto",sans-serif;
}

.timer-data p {
    line-height: 1.6;
    font-family: "Roboto",sans-serif;
    font-size: .845rem;
    font-weight: 400;
}
/* Divya on 25-04-2023 */
.form-width {
  height: 35px;
  padding-left: 35px;
}

/* Date range picker */
.date-range-input {
  background: url("../src/assets/images/calender.webp") no-repeat left;
  background-size: 30px;
}

.calls {
  background: url("../src/assets/images/call.webp") no-repeat left;
  background-size: 29px;
}

.services {
  background: url("../src/assets/images/service.webp") no-repeat left;
  background-size: 33px;
  background-position: left -0.25rem;
  height: 30px;
  width: 70%;
  float: right;
}


/* Map */
.img-map {
  height: 548px;
}

.leaflet-container {
  width: 100%;
  height: 60vh;
}

/* Chart */
/* .height-adjust{
  height: 300px;
} */
/* .chart-style {
  height: 60vh;
} */

/* for table */
.table-head {
  background-color: rgb(144 221 248 / 3%);
  color: #494242fd;
  font-size: 11px;
  /* font-family: math; */
  height: 55px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 3px #edfafec7;
}
.table-row {
  background-color: #fff;
  height: 57px;
}

/* Divya on 25-04-2023 */
.table-row td {
  vertical-align: middle
}

.cases-link {
 text-decoration: none;
color: #226ab1;
font-size: smaller;
}
tr.table-row:hover {
  /* box-shadow: rgb(133 177 251 / 46%) 0px 30px 60px -12px inset, rgb(133 177 251 / 50%) 0px 18px 36px -18px inset; */
  /* box-shadow: rgb(185 221 237) 0px 30px 60px -12px inset, rgb(198 208 233) 0px 18px 36px -18px inset; */
  box-shadow: rgb(211 253 255 / 31%) 0px 30px 60px -12px inset, rgb(233 239 255 / 72%) 0px 18px 36px -18px inset;
}
a.cases-link:hover {
  color: #007eff;
}
.table>:not(caption)>*>* {
  border-bottom: 1px dotted #00adff5c;
}
.thumb-sm {
  height: 36px !important;
  width: 36px !important;
  font-size: 12px;
  font-weight: 700;
}
.avatar-box {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  
}
.avatar-box .avatar-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  color: #f8f8fc;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
  /* filter: drop-shadow(2px 1px 0px rgb(0 0 0 / 0.4)); */
}
.bg-soft-pink {
  /* background-color: rgba(60, 151, 204, 0.137) !important; */
  /* background-image: linear-gradient(310deg,#0734a9,#62ddfb); */
  background-image: linear-gradient(310deg,#839bff,#4ed6f5);
  color: rgb(255, 255, 255) !important;
}


/* for table progress bar-ASHNA-*/
.progress-bar {
  height: 5px;
  border-radius: 0.375rem;
  margin-top: -0.095rem;
  margin-left: -1px;
  background-image: linear-gradient(310deg,#6d88f9,#21d4fd);
  overflow: visible !important;
}
.progress-Info{
  height: 3px !important;
  overflow: visible;
  background-color: #e9ecef;
  filter: drop-shadow(3px 2px 1px rgb(0 0 0 / 0.4));
  /* box-shadow: 0 6px 5px 0 rgba(173,181,189,0.4); */
}



/* For List Group */
.list-group-style .list-group-item {
  border-style: dashed;
}
.list-group-style .list-group-item:nth-child(1) {
  border: none;
}
.badge-soft-bg {
background-color: #27caef !important;
}
.case-title {
  color: #303e67;
}
.case-img {
  width: 30px;
  height: 30px;
}
.bg-report, .bg-resolve {
  color:#fff;
  font-size: 13.5px;
}
.bg-report {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  /* background-color: rgb(0 91 255 / 65%); */
  /* background-color: rgb(253 0 0 / 65%); */ 
  /* background-image: linear-gradient(310deg,#0547ef,#2ec9ef); */
  background-image: linear-gradient(310deg,#0547efe0,#2ec9efe0);
}
.bg-resolve {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* background-color:rgb(0 199 242 / 65%); */
  /* background-color: rgb(18 167 18 / 65%); */ 
  /* background-image: linear-gradient(310deg,#06bfab,#23d1fd); */
  background-image: linear-gradient(310deg,#06bfabad,#23d1fdad);
}
.list-group-item:not(:nth-child(1)) .bg-report:hover, .list-group-item:not(:nth-child(1)) .bg-resolve:hover {
  cursor: pointer;
  font-weight: 600;
}
.list-group-item:not(:nth-child(1)) .bg-report:hover, .list-group-item:not(:nth-child(1)) .bg-report:focus, .list-group-item:not(:nth-child(1)) .bg-report:active {
  background-color: rgb(0 91 255 / 90%);
}
.list-group-item:not(:nth-child(1)) .bg-resolve:hover, .list-group-item:not(:nth-child(1)) .bg-resolve:focus, .list-group-item:not(:nth-child(1)) .bg-resolve:active {
  background-color: rgb(0 199 242);
}
/* for signal card */
.card-name {
  font-size: small;
  color: #7b97b3;
}
.card-count {
  color: #354864;
  align-content: end;
}



/* for signal-icon-rounded-bg */
.bg-soft{
  width: 60px;
  height: 60px;
}
.col-case:nth-child(1) .border-end .bg-soft {
  background-color: rgba(48, 202, 189, 0.123);
}
.col-case:nth-child(2) .border-end .bg-soft {
  background-color: rgba(60, 151, 204, 0.137);
}
.col-case:nth-child(3) .border-end .bg-soft {
  background-color: rgba(65, 111, 238, 0.13);
}
.col-case:nth-child(4) .border-end .bg-soft {
  background-color: rgba(84, 118, 199, 0.171);
}

/* for signal-icon-hover */
/* .col-case .card:hover .bg-soft {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
} */


/* for border-color-under-signal-card*/
.col-case:nth-child(1) .border-end {
  border-bottom: 3px solid rgb(0 202 184) !important;
}

.col-case:nth-child(2) .border-end {
  border-bottom: 3px solid rgb(8 168 239) !important;
}
.col-case:nth-child(3) .border-end {
border-bottom: 3px solid rgb(65 110 238) !important;
}
.col-case:nth-child(4) .border-end {
border-bottom: 3px solid rgb(27 63 144) !important;
}


/* for timeline -ASHNA- */

.task-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* background-color: rgba(48, 202, 189, 0.123); */
}

/* .task-icon:nth-child(1){
  background-color: rgba(48, 202, 189, 0.123);
} */
.activity .activity-info:nth-child(1) .task-icon{
  background-color: rgba(48, 202, 189, 0.123);
}
.activity .activity-info:nth-child(2) .task-icon{
  background-color: rgba(60, 151, 204, 0.137);
}
.activity .activity-info:nth-child(3) .task-icon{
  background-color: rgba(65, 111, 238, 0.13);
}
.activity .activity-info:nth-child(4) .task-icon{
  background-color: rgba(84, 118, 199, 0.171);
}

.task-title {
  align-content: center;
  width: 185px;
}
.task-date {
  text-align: end;
  color: #ABB8C3;
  font-weight: 12;
  width: 110px;
}
.activity .activity-info {
  display: flex;
  margin: 2px 1px;
  position: relative;
  min-height: 35px;
}
.activity .activity-info::before {
  content: '';
  position: absolute;
  bottom: -13px;
  top: 32px;
  left: 13px;
  border-left: 2px dotted #c1cbdb;
}





