body{
  font-family: 'Roboto';
  font-size: 14px;
}

/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Login */

.icon-width {
  width: 20%;
  font-size: 24px;
}

.login-form {
  width: 45%;
}

.email-input {
  background: url("../src/assets/images/email.png") no-repeat left 5px center;
  background-size: 30px;
  height: 35px;
  padding-left: 40px;
}

.password-input {
  background: url("../src/assets/images/password.png") no-repeat left 5px center;
  background-size: 30px;
  height: 35px;
  padding-left: 40px;
}

.page-container {
  /* background-color: #f1faff; */
  min-height: calc(100vh - 100px);
  position: relative;
}

/* Navbar */
/* 
.navbar {
  background-image: url(../src/assets/images/bg-image-nav.jpg);
  background-size: cover;
} */



.navbar {
  position: relative;
  opacity: 0.99;
}

.navbar::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* background: url(../src/assets/images/bg-image-nav.jpg) no-repeat 0 50%; */
  background-image: url(../src/assets/images/bg-image-nav.jpg);
  background-size: cover;
  /* opacity: 0.9; */
}

.nav-heading {
  margin-top: -75px;
}

.card {
  box-shadow: 3px 3px 9px 5px rgba(169,184,200,.15);
  -webkit-box-shadow: 3px 3px 9px 5px rgba(169,184,200,.15);
}

.border-end {
  border: 1px solid #edf2f9!important;
  border-radius: 0.55rem;
  height: 80px;
  /* background:#d3d5efa3; */
}

.border-end:hover {
  transition: 1.5s;
  /* transform: rotateY(360deg); */
  background-color: #d1f0f7;
  
}



.border-end:hover .icon-color{
    /* transition: 2.9s; */
    color: #fff !important;
}
/* .border-end:hover .case-text{ */
  


/* Card */
.card-design {
  box-shadow: 3px 3px 9px 3px #95d2df40 !important;
  -webkit-box-shadow: 3px 3px 9px 3px #95d2df40;
  /* height: 100%; */
  border: none;
}

.timer-data h3 {
  font-weight: 600;
  font-size: 30px;
}

.header-title, .title-text {
    margin-bottom: 8px;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    font-size: 15px;
    font-weight: 600;
    margin-top: 0;
    color: #303e67;
    text-shadow: 0 0 1px rgba(241,245,250,0.1);
    font-family: "Roboto",sans-serif;
}

.timer-data p {
    line-height: 1.6;
    font-family: "Roboto",sans-serif;
    font-size: .845rem;
    font-weight: 400;
}

/* Date range picker */
.date-range-input {
  background: url("../src/assets/images/calender.png") no-repeat left;
  background-size: 30px;
  padding-left: 35px;
}

.form-width {
  height: 35px;
}

/* Map */
/* .map-height {
  height: 60vh;
} */
.leaflet-container {
  width: 100%;
  height: 60vh;
}

/* Chart */
/* .height-adjust{
  height: 300px;
} */
/* .chart-style {
  height: 60vh;
} */

/* for table */
.table-head {
  background-color: #eef6fb;
  color: #494242fd;
  font-size: 15px;
  font-family: math;
  height: 50px;
  
}
.table-row {
  background-color: #fff;
  height: 50px;
}
.cases-link {
 text-decoration: none;
color: #226ab1;
font-size: smaller;
}
tr.table-row:hover {
  /* box-shadow: rgb(133 177 251 / 46%) 0px 30px 60px -12px inset, rgb(133 177 251 / 50%) 0px 18px 36px -18px inset; */
  box-shadow: rgb(185 221 237) 0px 30px 60px -12px inset, rgb(198 208 233) 0px 18px 36px -18px inset;
}
a.cases-link:hover {
  color: #007eff;
}

/* For List Group */
.list-group-style .list-group-item {
  border-style: dashed;
}
.list-group-style .list-group-item:nth-child(1) {
  border: none;
}
.badge-soft-bg {
background-color: #27caef !important;
}
.case-title {
  color: #303e67;
}
.case-img {
  width: 40px;
  height: 40px;
}
.bg-report, .bg-resolve {
  color:#fff;
}
.bg-report {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgb(253 0 0 / 65%);
}
.bg-resolve {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgb(18 167 18 / 65%);
}
.list-group-item:not(:nth-child(1)) .bg-report:hover, .list-group-item:not(:nth-child(1)) .bg-resolve:hover {
  cursor: pointer;
  font-weight: 600;
}
.list-group-item:not(:nth-child(1)) .bg-report:hover, .list-group-item:not(:nth-child(1)) .bg-report:focus, .list-group-item:not(:nth-child(1)) .bg-report:active {
  background-color: rgb(253 0 0 / 90%);
}
.list-group-item:not(:nth-child(1)) .bg-resolve:hover, .list-group-item:not(:nth-child(1)) .bg-resolve:focus, .list-group-item:not(:nth-child(1)) .bg-resolve:active {
  background-color: rgb(18 167 18 / 90%);
}
/* for signal card */
.card-name {
  font-size: small;
  color: #7b97b3;
}
.card-count {
  color: #354864;
  align-content: end;
}



/* for signal-icon-rounded-bg */
.bg-soft{
  width: 60px;
  height: 60px;
}
.col-case:nth-child(1) .border-end .bg-soft {
  background-color: rgba(30,202,123,0.08);
}
.col-case:nth-child(2) .border-end .bg-soft {
  background-color: rgba(109,129,245,0.08);
}
.col-case:nth-child(3) .border-end .bg-soft {
  background-color: rgba(253,60,151,0.08);
}
.col-case:nth-child(4) .border-end .bg-soft {
  background-color: rgba(255,184,34,0.08);
}

/* for signal-icon-hover */
.col-case .card:hover .bg-soft {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
}


/* for border-color-under-signal-card*/
.col-case:nth-child(1) .border-end {
  border-bottom: 3px solid #1eca7b !important;
}

.col-case:nth-child(2) .border-end {
  border-bottom: 3px solid #6d81f5 !important;
}
.col-case:nth-child(3) .border-end {
border-bottom: 3px solid #fd3c97 !important;
}
.col-case:nth-child(4) .border-end {
border-bottom: 3px solid #ffb822 !important;
}

